<h1 class = "profilMembre">Profil du membre</h1>
<div class="ficheMembre">

	<div class = "titreChamps"> 
		<h1>Nom</h1>
		<div class="nom"><%= adresses.nom %></div>
	</div>

	<div class = "titreChamps"> 
		<h1>Prénom</h1>
		<div class="prenom"><%= adresses.prenom %></div>
	</div>

	<div class = "titreChamps"> 
		<h1>Téléphone</h1>
		<div class="telephone"><%= adresses.telephone %></div>
	</div>

	<div class = "titreChamps"> 
		<h1>Courriel</h1>
		<div class="courriel"><%= adresses.courriel %></div>
	</div>

	<div class = "titreChamps"> 
		<h1>Ville</h1>
		<div class="ville"><%= adresses.ville %></div>
	</div>

</div>