<%- include('composants/head') %> 
<body>
<%- include('composants/menu') %>
 <%- include('composants/entete') %>
 <%- include('composants/profilPage') %>
 <%- include('composants/footer') %>
</body>

</html>